:root {
    --bg: #1e2f4c;
    --color: #395c97;
    --color-light: #86a5db;
    --color-dark: #0f1a2ca2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Alte Haas Grotesk";
    src: url('../assets/fonts/AlteHaasGroteskRegular.ttf');
}

@font-face {
    font-family: "Alte Haas Grotesk BOLD";
    src: url('../assets/fonts/AlteHaasGroteskBold.ttf');
}

@font-face {
    font-family: "Chandia";
    src: url('../assets/fonts/Chandia_PERSONAL_USE_ONLY.otf');
}

button, a, li { cursor: pointer; }
span { cursor: inherit; }

body {
    background-color: var(--bg);
    color: var(--color);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    transition: background-color 0.8s ease-in-out;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#lander {
    justify-content: flex-start;
    align-items: flex-end;
    height: 95vh;
}

.logo {
    width: 50%;
    z-index: 10;
    margin: 1vw;
}

/* SLIDER */
#lander-slider {
    height: 95vh;
    position: absolute;
    inset: 0;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#slider-track {
    display: flex;
    align-items: center;
    transition: transform 0.8s ease-in-out;
}

.slider-img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    flex-shrink: 0;
}

#blue {
    filter: grayscale(100%) brightness(0.7) sepia(100%) hue-rotate(180deg) saturate(300%);
}

#red {
    filter: sepia(100%) saturate(300%) hue-rotate(330deg) brightness(80%);
}

/* MOVIE DETAILS */
#details {
    flex-direction: column;
    align-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
}

#select {
    align-self: flex-start;
    margin-top: 10px;

    font-size: 1.5rem;
    background: none;
    border: none;
    font-family: "Alte Haas Grotesk BOLD", sans-serif;
    color: inherit;
    transition: color 0.8s ease-in-out;
}

#details-content {
    display: flex;

    height: 100%;
    justify-content: space-between;
    gap: 5vw;
    align-items: center;
    padding: 5vw 12vw;
}

#about-movie, #movie-cast {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-movie {
    gap: 2vw;
    padding: 2vw;
}

#movie-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#movie-title > .logo { width: 40%; }

#movie-title > h1 {
    font-size: 10rem;
    font-family: "Chandia", sans-serif;
    color: var(--color);
    position: absolute;
    z-index: -1;
}

#plot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    font-size: 1.75rem;
    font-family: "Alte Haas Grotesk BOLD", sans-serif;
    text-align: center;
    padding: 2vw;
    /* border: 1px solid var(--color-light);
    border-radius: 15px; */
}

#movie-cast {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cast-img {
    display: none;
    width: 35vw;
    border-radius: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    z-index: 1;
}

#cast {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    list-style: none;
}

#cast > li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--color-dark);
    padding: 0.5vw 0.75vw;
    border: 1px solid transparent;
    border-radius: 4vw;
    transition: border 0.2s ease;
}

#cast > .selected { border: 2px solid var(--color-light); }

#cast > li:hover {
    border: 1px solid var(--color-light);
}

.actor-name {
    font-family: "Alte Haas Grotesk BOLD", sans-serif;
    font-size: 1.4rem;
    color: var(--color-light);
}

.character-name {
    font-family: "Chandia", sans-serif;
    font-size: 1.5rem;
    color: var(--color);
}

/* border: 1px solid white; */