:root {
    --bg: #1e2f4c;
    --color: #395c97;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Alte Haas Grotesk";
    src: url('../assets/fonts/AlteHaasGroteskRegular.ttf');
}

@font-face {
    font-family: "Alte Haas Grotesk BOLD";
    src: url('../assets/fonts/AlteHaasGroteskBold.ttf');
}

@font-face {
    font-family: "Chandia";
    src: url('../assets/fonts/Chandia_PERSONAL_USE_ONLY.otf');
}

button, a { cursor: pointer; }

body {
    background-color: var(--bg);
    color: var(--color);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    transition: background-color 0.8s ease-in-out;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#lander {
    justify-content: flex-start;
    align-items: flex-end;
    height: 95vh;
}

#logo {
    width: 50%;
    z-index: 10;
    margin: 1vw;
}

/* SLIDER */
#lander-slider {
    height: 95vh;
    position: absolute;
    inset: 0;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#slider-track {
    display: flex;
    align-items: center;
    transition: transform 0.8s ease-in-out;
}

.slider-img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    flex-shrink: 0;
}

#blue {
    filter: grayscale(100%) brightness(0.7) sepia(100%) hue-rotate(180deg) saturate(300%);
}

#red {
    filter: sepia(100%) saturate(300%) hue-rotate(330deg) brightness(80%);
}

#details {
    justify-content: center;
}

#select {
    align-self: flex-start;
    margin-top: 10px;

    font-size: 1.5rem;
    background: none;
    border: none;
    font-family: "Alte Haas Grotesk BOLD", sans-serif;
    color: inherit;
    transition: color 0.8s ease-in-out;
}